@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  padding: 16px;
  height: 100vh;
  background: #f5f9ff;
  
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.title{
  font-weight: 800;
  letter-spacing: -0.07em;
  color: #1e5799; 
  color: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #7db9e8 100%); 
  color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); 
  color: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#7db9e8 100%); 
  color: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,#7db9e8 100%); 
  color: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,#7db9e8 100%);
  color: radial-gradient(ellipse at center,  #1e5799 0%,#7db9e8 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
  -webkit-animation: filter-animation 8s infinite;
  animation: filter-animation 8s infinite;
}
.todo-input-form {
  display: flex;
}
.todo-input-form input {
  padding: 10px;
  border-radius: 2px 0px 0px 2px;
  border-width: 1px;
  font-size: 16px;
}
.todo-input-form button[type="submit"] {
  flex: 0.3;
  max-width: 100px;
  border: 1px solid;
  border-radius: 0px 2px 2px 0px;
  border-color: #000000d0;
  background-color: #000000d0;
  color: white;
  cursor: pointer;
}
.todo-input-form input:first-child {
  flex: 1;
}
.todo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px 0px 8px 0px;

  padding: 8px;
  border: 1px solid #00000020;
  border-radius: 2px;
  width: 100%;
}
.todo-list button {
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0px 4px;
  min-width: 20px;
}
.todo-list button:last-child {
  margin-right: 0px;
}
.todo-list button svg {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  
  50% {
    -webkit-filter: hue-rotate(100deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  50% {
    filter: hue-rotate(100deg);
  }
  
  100% {
    filter: hue-rotate(0deg);
  }
}